*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

/* Define CSS styles for the triangle and circles */
.tr_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 30vw;
  position: relative;
  overflow: none;
}

#line1, #line2, #line3 {
  pointer-events: none;
  visibility: hidden;
}

#line1.is--active, #line2.is--active, #line3.is--active{
  visibility: visible;
}

.circle {
 cursor: pointer;
}

#dot1, #dot2, #dot3 {
pointer-events: none;
visibility: hidden;
}

#dot1.is--active, #dot2.is--active, #dot3.is--active {
  visibility: visible;
}
