*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.profile_card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

.profile_description {
  max-height: 50px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.show-description .profile_description {
  max-height: none;
}
